<html>
    <head>
        <title>Creer un new potin></title>
    </head>
    <body>
        <h1>Spill the tea !</h1>
        <p>You can tell us what you know by filling up the form below :</p>
        <form action='/gossips/new/' method='POST'>
            What's your name ? <input type='text' name='gossip_author'/><br/>
            Tell us your gossip : <input type='text' name='gossip_content'/><br/>
            <input type='submit'/>
        </form>
    </body>
</html>