<html>
    <head>
        <title>Creer un new potin></title>
    </head>
    <body>
        <h1>Cree un potin !</h1>
        <p>Tu peux balancer ton potin via le formulaire ci-dessous :</p>
        <form action='/gossips/new/' method='POST'>
            Saisis ton nom : <input type='text' name='gossip_author'/><br/>
            Balance ton potin : <input type='text' name='gossip_content'/><br/>
            <input type='submit'/>
        </form>
    </body>
</html>